.poll-form {
  fieldset,
  .poll-question-open-ended {
    border: 1px solid $border;
    border-radius: $global-radius;
    padding: $line-height;

    + * {
      margin-top: calc($line-height / 2);
    }
  }

  fieldset {
    legend {
      @include header-font-size(h3);
      float: $global-left;
      margin-bottom: 0;

      + * {
        clear: $global-left;
      }
    }

    label {
      @include radio-or-checkbox-and-label-alignment;
      font-weight: normal;

      &:first-of-type {
        margin-top: calc($line-height / 2);
        white-space: pre;
      }
    }
  }

  .poll-question-open-ended {
    label {
      @include header-font-size(h3);
      line-height: 1.5;
    }
  }

  .help-text {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
  }

  .read-more-links {
    margin-top: calc($line-height / 2);

    * {
      margin-bottom: 0;
    }

    * + * {
      margin-top: calc($line-height / 4);
    }
  }

  input.open_text_field {
    margin-left:0.8rem;
  }

  [type=submit] {
    margin-top: calc($line-height * 3 / 4);
  }


  @include breakpoint(medium) {

    /* use CSS Grid/Subgrid for flexible layout of questions with possible open-text inline
     */
    .poll-questions-grid {
      display:grid;
      grid-template-columns: min-content max-content auto;
      column-gap: 0.5em;

      input.open_text_field,
      textarea.open_text_field {
        max-width:100%;
        width:20rem;
      }
    }
    fieldset .poll-questions-grid label {
      grid-column: 1 / -1;
      display:grid;
      grid-template-columns: subgrid;
    }
  }
}
